.website-page{
    background-color: #F8F8E7;
    padding: 100px;
}

.web-graphic-design-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 110%;
}

#web-header{
    background: #F8F8E7;
    padding: 20px;
}

#gd-header{
    background: #F2EDD8;
    padding: 20px;
}

.employer-title{
    color: #5e6944;
    font-size: 300%;
    padding-bottom: 10px;
}

.role-title{
    color: #5e6944;
    font-size: 150%;
    padding-bottom: 40px;
}

p{
    font-size: 100%;
    line-height: 180%;
}


.project-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom:100px;
    padding-top: 100px;
}

.project-info{
    grid-row: 1;
    grid-column: 1/ -1;
}

.project-images{
    grid-row: 2;
    grid-column: 1/ span 5;
}

.portfolio-skills{
    grid-row:2;
    grid-column: 6/ span 4;
    justify-self: left;
    align-self: center;
    line-height: 170%;
    color: rgba(0, 0, 0, 0.555);
    list-style-type: square;
    font-size: 110%;

}

.repo-link{
    width:100%;
    height: 100%;
   z-index: 1;
   color: black;
   text-decoration: underline rgba(0, 0, 0, 0.226);
   display: inline-block;
   text-align: left;
   padding-bottom: 40px;
 }
 
 
 .repo-link a:visited{
   text-decoration: none;
   color: black;}
 
 .repo-link a:link{
   color: black;
   text-decoration: none;
 }

 video{
    width: -webkit-fill-available;
}


#MB-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-self: center;
    gap: 20px;
}

.mbSlides{
    max-width: 220px;
    object-fit: contain;
    border-radius: 10px;
    
}


.pantrySlides{
    max-width: 300px;
    border-radius: 5px;
    align-self: center;
    width: -webkit-fill-available;
}

#pantryImages{
    justify-self: center;
}


#yumYumImages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;


}

#yumYumImages img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}


.gd-web-link{
    width:100%;
    height: 100%;
   z-index: 1;
   color: black;
   text-decoration: underline rgba(0, 0, 0, 0.226);
   display: inline-block;
   text-align: center;
   padding-bottom: 40px;
 }
 
 
 .gd-web-link a:visited{
   text-decoration: none;
   color: black;}
 
   .gd-web-link a:link{
   color: black;
   text-decoration: none;
 }
 
 .gd-web-link a:hover{
   size-adjust: 150%;
 }


 @media  screen and (min-width= 700px) {
    .employer-title{
        color: #849461;
        font-size: 400%;
    }
    
    .role-title{
        color: #849461;
        font-size: 170%;
    }
    
    p{
        font-size: 130%;
        line-height: 200%;
    }
    
 }